.home
{
	font-size: 15px; text-indent: 1cm; line-height: 0.42cm; margin-left: 7.5cm;
	margin-right: 7.5cm; background: rgba(21,14,165,0.85); padding: 3px 12px 3px 12px; 
    -webkit-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    -moz-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
}

.fun
{
    font-size: 15px; text-indent: 1cm; line-height: 0.42cm; margin-left: 7.5cm;
    margin-right: 7.5cm; background: rgba(111,55,55,0.85); padding: 3px 12px 3px 12px; 
    -webkit-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    -moz-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
}

#tabel
{
    margin-top: 0.35cm; text-indent: 0cm;
}

#liste
{
    font-size: 15px; text-indent: 0cm; line-height: 0.42cm;
    background: rgba(111,55,55,0.85); padding: 20px 16px 1px 12px; 
    -webkit-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    -moz-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    border-style: double; position:absolute ;margin-top: 12%;
    margin-left:38%; border-color: rgb(140,140,140);
}
#thelist
{
    font-size: 15px; text-indent: 1cm; line-height: 0.42cm; margin-left: 7.5cm;
    margin-right: 7.5cm; background: rgba(111,55,55,0.85); padding: 3px 12px 3px 12px; 
    -webkit-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    -moz-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
}

a.one:hover{background-color:rgb(245,192,33); font-style: italic;}
a.one:visited{ color: rgb(215,0,0);}
ul.neordonate
{
    list-style-type: disc; list-style-position: inherit; 
}

p::first-letter 
{
    color: #ff0000;
    font-size: 22px;
}
 .1
 {margin margin-left: 0.2cm;}
body
{  
    background-image: url('poze/tetris.jpg');
    background-attachment: fixed; 
    color:rgb(255,255,255);
}

#game_body
{  
    background-image: url('poze/mario.jpg');
    background-position: 53% 50%;
    background-attachment: fixed; 
    color:rgb(255,255,255);
}

#funfacts
{  
    background-image: url('poze/small blue frog.jpg');
    background-attachment: fixed;
    color:rgb(255,255,255);
}

#title 
{
 	font-size: 25px; text-align: center; font-weight: 100; font-family: 'PoisonHope-Regular'; 
    background-color: rgb(21,14,165); padding: 7px 7px 7px 7px; 
	-webkit-box-shadow: inset -4px -2px 5px 13px rgba(0,0,0,0.87);
	-moz-box-shadow: inset -4px -2px 5px 13px rgba(0,0,0,0.87);
	box-shadow: inset -4px -2px 5px 13px rgba(0,0,0,0.87);
}

#title_fun
{
    font-size: 35px; text-align: center; font-weight: 100; font-family: 'Qualite Deluxe Platinium'; 
    background-color: rgb(111,55,55); padding: 7px 7px 7px 7px; 
    -webkit-box-shadow: inset -4px -2px 5px 13px rgba(0,0,0,0.5);
    -moz-box-shadow: inset -4px -2px 5px 13px rgba(0,0,0,0.5);
    box-shadow: inset -4px -2px 5px 13px rgba(0,0,0,0.5);
}

#border
{
    border-style: double; border-width: 7px;
}

@font-face
{
    font-family: 'PoisonHope-Regular';                          
    src: url('website/fonts/PoisonHope-Regular.ttf');         
}
@font-face
{
    font-family: 'Cashew Apple Ale Bold';                          
    src: url('website/fonts/Cashew Apple Ale Bold.ttf');         
}

@font-face
{
    font-family: 'DarkWaters-Regular';                          
    src: url('website/fonts/DarkWaters-Regular.ttf');         
}

@font-face
{
    font-family: 'Deadly Inked';                          
    src: url('website/fonts/Deadly Inked.ttf');         
}

@font-face
{
    font-family: 'FallenSpartans-Regular';                          
    src: url('website/fonts/FallenSpartans-Regular.ttf');         
}

@font-face
{
    font-family: 'Ice Cream Sandwich';                          
    src: url('website/fonts/Ice Cream Sandwich.ttf');         
}

@font-face
{
    font-family: 'Qualite Deluxe Platinium';                          
    src: url('website/fonts/Qualite Deluxe Platinium.ttf');         
}
/*@font-face
{
    font-family: 'YourFontName';                          //a name to be used later
    src: url('http://domain.com/fonts/font.ttf');         //URL to font
}*/

/*.classname {
    font-family: 'YourFontName';
}*/
