.home
{
    font-size: 15px; text-indent: 1cm; line-height: 0.42cm; margin-left: 7.5cm;
    margin-right: 7.5cm; background: rgba(21,14,165,0.6); padding: 3px 12px 3px 12px; 
    -webkit-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    -moz-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
}
.home1
{
    font-size: 15px; text-indent: 1cm; line-height: 0.42cm; margin-left: 7.5cm;
    margin-right: 7.5cm; background: rgba(10,65,15,0.6); padding: 3px 12px 3px 12px; 
    -webkit-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    -moz-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
}
.home2
{
    font-size: 15px; text-indent: 1cm; line-height: 0.42cm; margin-left: 7.5cm;
    margin-right: 7.5cm; background: rgba(90,0,0,0.7); padding: 3px 12px 3px 12px; 
    -webkit-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    -moz-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
}

.home3
{
    font-size: 15px; text-indent: 1cm; line-height: 0.42cm; margin-left: 7.5cm;
    margin-right: 7.5cm; background: rgba(150,90,0,0.6); padding: 3px 12px 3px 12px; 
    -webkit-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    -moz-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
}
.home4
{
    font-size: 15px; text-indent: 1cm; line-height: 0.42cm; margin-left: 7.5cm;
    margin-right: 7.5cm; background: rgba(90,190,235,0.2); padding: 3px 12px 3px 12px; 
    -webkit-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    -moz-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
}

.home5
{
    font-size: 15px; text-indent: 1cm; line-height: 0.42cm; margin-left: 7.5cm;
    margin-right: 7.5cm; background: rgba(195,145,145,0.2); padding: 3px 12px 3px 12px; 
    -webkit-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    -moz-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
}
.home6
{
    font-size: 15px; text-indent: 1cm; line-height: 0.42cm; margin-left: 7.5cm;
    margin-right: 7.5cm; background: rgba(70,35,0,0.3); padding: 3px 12px 3px 12px; 
    -webkit-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    -moz-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
}
.home7
{
    font-size: 15px; text-indent: 1cm; line-height: 0.42cm; margin-left: 7.5cm;
    margin-right: 7.5cm; background: rgba(70,35,0,0.3); padding: 3px 12px 3px 12px; 
    -webkit-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    -moz-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
}

#tabel
{
    margin-top: 0.35cm; text-indent: 0cm; border-style: double; border-width: 7px;
}

#liste
{
    font-size: 15px; text-indent: 0cm; line-height: 0.42cm;
    background: rgba(111,55,55,0.85); padding: 20px 16px 1px 12px; 
    -webkit-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    -moz-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    border-style: double; position:absolute ;margin-top: 12%;
    margin-left:38%; border-color: rgb(140,140,140);
}
#thelist
{
    font-size: 15px; text-indent: 1cm; line-height: 0.42cm; margin-left: 7.5cm;
    margin-right: 7.5cm; background: rgba(111,55,55,0.85); padding: 3px 12px 3px 12px; 
    -webkit-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    -moz-box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
    box-shadow: inset -4px -2px 48px 13px rgba(0,0,0,0.87);
}

a.one
{}

ul.neordonate
{
    list-style-type: disc; list-style-position: inherit; 
}

p::first-letter 
{
    color: #ff0000;
    font-size: 22px;
}

body.rpg
{  
    background-image: url('poze/skyrim.jpg');
    background-attachment: fixed; 
    color:rgb(255,255,255);
}
body.rpg2
{  
    background-image: url('poze/lich.jpg');
    background-attachment: fixed; 
    color:rgb(255,255,255);
}
body.rpg3
{  
    background-image: url('poze/mass.jpg');
    background-attachment: fixed; 
    color:rgb(255,255,255);
}
body.rts
{  
    background-image: url('poze/warcraft.jpg');
    background-attachment: fixed; 
    color:rgb(255,255,255);
}
body.rts2
{  
    background-image: url('poze/shogun.jpg');
    background-attachment: fixed; 
    color:rgb(255,255,255);
}
body.rts3
{  
    background-image: url('poze/vic.jpg');
    background-attachment: fixed; 
    color:rgb(255,255,255);
}
body.horror
{  
    background-image: url('poze/bg.jpg');
    background-attachment: fixed; 
    color:rgb(255,255,255);
}
body.horror2
{  
    background-image: url('poze/wallp.jpg');
    background-attachment: fixed; background-position: 50% 50%;
    color:rgb(255,255,255);
}
body.horror3
{  
    background-image: url('poze/amnesia.jpg');
    background-attachment: fixed; background-position: 50% 50%;
    color:rgb(255,255,255);
}
#game_body
{  
    background-image: url('poze/mario.jpg');
    background-position: 53% 50%;
    background-attachment: fixed; 
    color:rgb(255,255,255);
}

#funfacts
{  
    background-image: url('poze/small blue frog.jpg');
    background-attachment: fixed;
    color:rgb(255,255,255);
}

#border
{
    border-style: double; border-width: 7px;
}

@font-face
{
    font-family: 'PoisonHope-Regular';                          
    src: url('website/fonts/PoisonHope-Regular.ttf');         
}
@font-face
{
    font-family: 'Cashew Apple Ale Bold';                          
    src: url('website/fonts/Cashew Apple Ale Bold.ttf');         
}

@font-face
{
    font-family: 'DarkWaters-Regular';                          
    src: url('website/fonts/DarkWaters-Regular.ttf');         
}

@font-face
{
    font-family: 'Deadly Inked';                          
    src: url('website/fonts/Deadly Inked.ttf');         
}

@font-face
{
    font-family: 'FallenSpartans-Regular';                          
    src: url('website/fonts/FallenSpartans-Regular.ttf');         
}

@font-face
{
    font-family: 'Ice Cream Sandwich';                          
    src: url('website/fonts/Ice Cream Sandwich.ttf');         
}

@font-face
{
    font-family: 'Qualite Deluxe Platinium';                          
    src: url('website/fonts/Qualite Deluxe Platinium.ttf');         
}
/*@font-face
{
    font-family: 'YourFontName';                          //a name to be used later
    src: url('http://domain.com/fonts/font.ttf');         //URL to font
}*/

/*.classname {
    font-family: 'YourFontName';
}*/
